body {
    background: #18191a;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('images/header.gif');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    padding: 20px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

header a:hover {
    color: pink;
}

p {
    padding: 18px;
}

h2 {
    padding-left: 18px;
}

header .logo a {
    background-image: url('images/pinkarubastar.png');
    background-size: 70px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 90px;
    position: relative;
    right: -14px;
    top: -25px;
    text-indent: -99999999px;
    width: 90px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
}

h1 {
    height: 500px;
}

p {
    color: whitesmoke;
}

div ul li {
    color: #DF8598;
}

.verticalLine {
    border-right: thick solid #DF8598;
    margin-right: 750px;
  }

  .toLearn {
    color: white;
    position: relative;
    right: -750px;
    top: -245px;
}

.features {
    background-color:#DF8598; /* change color */
    color: #111011;
    display: flex;
    flex-direction: row;
    padding: 20px;
}



.features figure {
    margin: auto;
    text-align: center;
    text-transform: upper;
    width: 200px;
}

.features figure img {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: black 0 0 10px;
    width: 200px;
}

.features figure figcaption {
    margin-top: 5px;
}

footer {
    background:#242526;
    color: white;
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
}

.socials a img {
    margin-right: 20px;
    width: 50px;
}